    <!-- Download Section -->
    <section id="projects" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>Natasha has completed a variety of projects during her time at WPI. You can read the blogs from her most recent ones on Medium, and see the code she's been writing lately on GitHub.</p>

                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://medium.com/natashas-visual-rhetoric-blog" class="btn btn-default btn-lg"><i class="fa fa-medium fa-fw" aria-hidden="true"></i>Medium</a>
                        </li>
                        <li>
                            <a href="https://github.com/nlevey" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw" aria-hidden="true"></i>GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>